{% extends 'base.html' %}

{% block content %}
<h2>{{ book }}</h2>
<p>Bookmarks: {{bookmarks}}</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if is_bookmarked %}
        <button type="submit" name="submit_bookmark">Remove Bookmark</button>
    {% else %}
        <button type="submit" name="submit_bookmark">Bookmark</button>
    {% endif %}
</form>
<h3>Available for Borrowing:</h3>
{% if {{book.available_to_borrow}} %}
    <p>Yes</p>
{% else %}
    <p>No</p>
{% endif %}
<form method="post" action="/bookclub/book/{{ book.id }}/borrow">
    {% csrf_token %}
    {% if book.available_to_borrow %}
        <button type="submit">Borrow This Book</button>
    {% else %}
        <button type="submit" disabled>Borrow This Book</button>
    {% endif %}
</form>
<br>
<hr>
<h3>Genre:</h3>
<p>{{book.genre}}</p>
<h3>Author:</h3>
<p>{{book.author}}</p>
<h3>Publication Year:</h3>
<p>{{book.publication_year}}</p>
<br>
<h4>Created On: {{book.created_on}}</h4>
<h4>Updated On: {{book.updated_on}}</h4>

{% if is_contributor %}
<a href="/bookclub/book/{{ book.id }}/edit">Update Book</a>
{% endif %}
<hr>

<h3>Leave a Review:</h3>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ BookReviewForm.as_p }}
    <button type="submit" name="submit_review">Save Review</button>
</form>
<br>
<h3>All Reviews</h3>
<ul>
    {% for review in book_reviews %}
        {% if review.user_reviewer.exists() %}
            <h3>{{review.user_reviewer}}</h3>
        {% else %}
            <h3>{{review.name}}</h3>
        {% endif %}
        <h5>{{ review.title }}</h5>
        <p>{{ review.comment }}</p>
    {% empty %}
        <li>There are no reviews for this book yet.</li>
    {% endfor %}
</ul>
{% endblock %}