{% extends "base.html" %}
{% block content %}
    <h2>{{ product.name }}</h2>
    <h3>Product Details:</h3>
    <img src="{{ product.product_image.url }}" width="300" height="200">
    <ul>
        <li>Price: {{ product.price }} Php</li>
        <li>Description: {{ product.description }}</li>
    </ul>
    <br>
    {% if request.user.is_authenticated and request.user.profile == product.owner %}
        <a href="{% url 'merchstore:product_update' product.pk %}">Update Product Details</a>
    {% endif %}
    <br>
    <h3>Order Form:</h3>
    <form method="post">
        {% csrf_token %}
        {{ transaction_form }}
        <br>
        {% if product.stock == 0 %}
            <p style="color: red;">Out of Stock</p>
        {% endif %}
        <button type="submit" 
                name="submit" 
                value="Save Form" 
                {% if product.stock == 0 %}disabled{% endif %}>
            Buy Now
        </button>
    </form>
{% endblock %}